@model DPP.Models.GroupRehearsal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GroupRehearsal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupRehearsalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
