@model DPP.Models.Picture

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Picture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PictureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PictureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.EventType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.PlaceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.PlaceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PictureID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
