@model DPP.Models.GroupStyle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GroupStyle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Style.Style1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Style.Style1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupStyleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
