@model DPP.Models.Comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comment1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event.EventType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.EventType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture.PictureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture.PictureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place.PlaceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.PlaceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video.VideoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video.VideoName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
