@model IEnumerable<DPP.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comment1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture.PictureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place.PlaceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Video.VideoName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comment1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture.PictureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place.PlaceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Video.VideoName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommentID })
        </td>
    </tr>
}

</table>
