@model IEnumerable<DPP.Models.Video>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VideoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place.PlaceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VideoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place.PlaceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VideoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VideoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VideoID })
        </td>
    </tr>
}

</table>
