@model IEnumerable<DPP.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Review1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event.EventType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place.PlaceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User1.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Review1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place.PlaceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User1.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewID })
        </td>
    </tr>
}

</table>
